body, html {
    height: 100%;
}

* {
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        to right,
        rgba($background-color-1, 0.5),
        rgba($background-color-2, 0.5)), 
        url('https://images.complex.com/complex/images/c_fill,dpr_auto,f_auto,q_90,w_1400/fl_lossy,pg_1/kgcskeykvnf2srit93mb/adidas-terrex-free-hiker');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}