$background-color-1: #616161;
$background-color-2: #9bc5c3;

$primary-color: #e7f3ff;
$secondary-color: rgb(35, 35, 35);
$tertiary-color: rgb(167, 178, 184);

$red-color: rgb(255, 62, 62);
$dark-red-color: rgb(179, 40, 40);

$text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);