.container {
  padding-top: 5em;
}

.card {
  background: radial-gradient(
    circle,
    rgba($primary-color, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border: none;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);
  height: 25em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 2em;
  border-radius: 0;

  &-img-top {
    background: radial-gradient(
      circle,
      rgba(61, 61, 61, 0.3) 0%,
      rgba(0, 0, 0, 0) 52%
    );
  }

  &-group {
    width: 100%;
    transition: 0.5s;
  }
}

.btn {
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.1);
}
