.navbar {
  color: $primary-color;
  font-weight: 700;

  &-brand {
    color: $primary-color;
    font-family: "Lobster", cursive;
    font-size: 28px;
    text-shadow: 0 2px 15px rgba(0, 0, 0, 0.7);
  }

  &-link {
    color: $primary-color;
    text-transform: uppercase;
    text-shadow: 0 2px 15px rgba(0, 0, 0, 0.7);
    padding-bottom: .2em;

    &:hover {
      color: $primary-color;
      text-decoration: none !important;
      border-bottom: 3px solid $primary-color;
      transition: .15s;
    }
  }
}

#navbar {
  padding: 1.5em !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: linear-gradient(
    250deg,
    rgba($secondary-color, 0.7) 30%,
    rgba(0, 0, 0, 0) 110%
  );
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

  & a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: $primary-color;
    display: block;
    transition: .15s;

    &:hover {
      border-left: 4px solid $primary-color;
    }
  }

  &-item {
    color: $primary-color;
    height: 30px;
  }

  &-buttons {
    transition: .15s;
  }
}

.sidenav .closebtn {
  cursor: pointer;
  color: $primary-color;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-right 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


hr {
  height: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.3);
}

.list {
  &-group {
    padding: 1em;
    padding-top: 0;

    &-item {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      background: none;
      border: none !important;
      border-bottom: 1px solid rgba($primary-color, 0.7) !important;
      border-radius: 0 !important;
    }
  }
}

.delete-icon {
  cursor: pointer;
  transition: .15s;
  color: rgba($red-color, 1);
  text-shadow: 0 0 5px rgba($secondary-color, 0.5);

  &:hover {
    color: rgba($dark-red-color, 1);
  }
}

.menu-btn {
  cursor: pointer;
  border-bottom: 3px solid rgba(0,0,0,0);
  padding: 0;
}
